openapi: 3.0.1
info:
  description: The destination for current and historic NBA statistics.
  title: NBA Stats API
  version: version
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/en/thumb/0/03/National_Basketball_Association_logo.svg/100px-National_Basketball_Association_logo.svg.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/danielwelch/little-pynny/master/little-pynny/swagger.json
    version: "2.0"
  x-providerName: nba.com
  x-unofficialSpec: true
servers:
- url: //stats.nba.com/stats
paths:
  /allstarballotpredictor:
    get:
      deprecated: false
      operationId: allstarballotpredictorGET
      parameters:
      - in: query
        name: PointCap
        schema:
          type: string
      - in: query
        name: WestPlayer1
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer2
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer3
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer4
        required: true
        schema:
          type: string
      - in: query
        name: WestPlayer5
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer1
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer2
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer3
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer4
        required: true
        schema:
          type: string
      - in: query
        name: EastPlayer5
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscore:
    get:
      deprecated: true
      operationId: boxscoreGET
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoreadvanced:
    get:
      deprecated: true
      operationId: boxscoreadvancedGET
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoreadvancedv2:
    get:
      deprecated: false
      operationId: boxscoreadvancedv2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscorefourfactors:
    get:
      deprecated: true
      operationId: boxscorefourfactorsGET
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscorefourfactorsv2:
    get:
      deprecated: false
      operationId: boxscorefourfactorsv2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoremisc:
    get:
      deprecated: true
      operationId: boxscoremiscGET
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoremiscv2:
    get:
      deprecated: false
      operationId: boxscoremiscv2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoreplayertrackv2:
    get:
      deprecated: false
      operationId: boxscoreplayertrackv2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscorescoring:
    get:
      deprecated: true
      operationId: boxscorescoringGET
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscorescoringv2:
    get:
      deprecated: false
      operationId: boxscorescoringv2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoresummaryv2:
    get:
      deprecated: false
      operationId: boxscoresummaryv2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoretraditionalv2:
    get:
      deprecated: false
      operationId: boxscoretraditionalv2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoreusage:
    get:
      deprecated: true
      operationId: boxscoreusageGET
      parameters:
      - in: query
        name: GameID
        schema:
          type: string
      - in: query
        name: StartPeriod
        schema:
          type: string
      - in: query
        name: EndPeriod
        schema:
          type: string
      - in: query
        name: StartRange
        schema:
          type: string
      - in: query
        name: EndRange
        schema:
          type: string
      - in: query
        name: RangeType
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /boxscoreusagev2:
    get:
      deprecated: false
      operationId: boxscoreusagev2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      - in: query
        name: StartRange
        required: true
        schema:
          type: string
      - in: query
        name: EndRange
        required: true
        schema:
          type: string
      - in: query
        name: RangeType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /commonTeamYears:
    get:
      deprecated: false
      operationId: commonTeamYearsGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /commonallplayers:
    get:
      deprecated: false
      operationId: commonallplayersGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: IsOnlyCurrentSeason
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /commonplayerinfo:
    get:
      deprecated: false
      operationId: commonplayerinfoGET
      parameters:
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /commonplayoffseries:
    get:
      deprecated: false
      operationId: commonplayoffseriesGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /commonteamroster:
    get:
      deprecated: false
      operationId: commonteamrosterGET
      parameters:
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /draftcombinedrillresults:
    get:
      deprecated: false
      operationId: draftcombinedrillresultsGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /draftcombinenonstationaryshooting:
    get:
      deprecated: false
      operationId: draftcombinenonstationaryshootingGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /draftcombineplayeranthro:
    get:
      deprecated: false
      operationId: draftcombineplayeranthroGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /draftcombinespotshooting:
    get:
      deprecated: false
      operationId: draftcombinespotshootingGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /draftcombinestats:
    get:
      deprecated: false
      operationId: draftcombinestatsGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /drafthistory:
    get:
      deprecated: false
      operationId: drafthistoryGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /franchisehistory:
    get:
      deprecated: false
      operationId: franchisehistoryGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /homepageleaders:
    get:
      deprecated: false
      operationId: homepageleadersGET
      parameters:
      - in: query
        name: StatCategory
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /homepagev2:
    get:
      deprecated: false
      operationId: homepagev2GET
      parameters:
      - in: query
        name: StatType
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaderstiles:
    get:
      deprecated: false
      operationId: leaderstilesGET
      parameters:
      - in: query
        name: Stat
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerOrTeam
        required: true
        schema:
          type: string
      - in: query
        name: Game
        schema:
          type: string
      - in: query
        name: Player
        schema:
          type: string
      - in: query
        name: PlayerScope
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashlineups:
    get:
      deprecated: false
      operationId: leaguedashlineupsGET
      parameters:
      - in: query
        name: GroupQuantity
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashplayerbiostats:
    get:
      deprecated: false
      operationId: leaguedashplayerbiostatsGET
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashplayerclutch:
    get:
      deprecated: false
      operationId: leaguedashplayerclutchGET
      parameters:
      - in: query
        name: ClutchTime
        required: true
        schema:
          type: string
      - in: query
        name: AheadBehind
        required: true
        schema:
          type: string
      - in: query
        name: PointDiff
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashplayerptshot:
    get:
      deprecated: false
      operationId: leaguedashplayerptshotGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashplayershotlocations:
    get:
      deprecated: false
      operationId: leaguedashplayershotlocationsGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      - in: query
        name: DistanceRange
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashplayerstats:
    get:
      deprecated: false
      operationId: leaguedashplayerstatsGET
      parameters:
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashptdefend:
    get:
      deprecated: false
      operationId: leaguedashptdefendGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: DefenseCategory
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashptteamdefend:
    get:
      deprecated: false
      operationId: leaguedashptteamdefendGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: DefenseCategory
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashteamclutch:
    get:
      deprecated: false
      operationId: leaguedashteamclutchGET
      parameters:
      - in: query
        name: ClutchTime
        required: true
        schema:
          type: string
      - in: query
        name: AheadBehind
        required: true
        schema:
          type: string
      - in: query
        name: PointDiff
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashteamptshot:
    get:
      deprecated: false
      operationId: leaguedashteamptshotGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashteamshotlocations:
    get:
      deprecated: false
      operationId: leaguedashteamshotlocationsGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      - in: query
        name: DistanceRange
        required: true
        schema:
          type: string
      - in: query
        name: GameScope
        required: true
        schema:
          type: string
      - in: query
        name: PlayerExperience
        required: true
        schema:
          type: string
      - in: query
        name: PlayerPosition
        required: true
        schema:
          type: string
      - in: query
        name: StarterBench
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leaguedashteamstats:
    get:
      deprecated: false
      operationId: leaguedashteamstatsGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /leagueleaders:
    get:
      deprecated: false
      operationId: leagueleadersGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: StatCategory
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: Scope
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playbyplay:
    get:
      deprecated: false
      operationId: playbyplayGET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playbyplayv2:
    get:
      deprecated: false
      operationId: playbyplayv2GET
      parameters:
      - in: query
        name: GameID
        required: true
        schema:
          type: string
      - in: query
        name: StartPeriod
        required: true
        schema:
          type: string
      - in: query
        name: EndPeriod
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playercareerstats:
    get:
      deprecated: false
      operationId: playercareerstatsGET
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playercompare:
    get:
      deprecated: false
      operationId: playercompareGET
      parameters:
      - in: query
        name: PlayerIDList
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerIDList
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashboardbyclutch:
    get:
      deprecated: false
      operationId: playerdashboardbyclutchGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashboardbygamesplits:
    get:
      deprecated: false
      operationId: playerdashboardbygamesplitsGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashboardbygeneralsplits:
    get:
      deprecated: false
      operationId: playerdashboardbygeneralsplitsGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashboardbylastngames:
    get:
      deprecated: false
      operationId: playerdashboardbylastngamesGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashboardbyopponent:
    get:
      deprecated: false
      operationId: playerdashboardbyopponentGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashboardbyshootingsplits:
    get:
      deprecated: false
      operationId: playerdashboardbyshootingsplitsGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashboardbyteamperformance:
    get:
      deprecated: false
      operationId: playerdashboardbyteamperformanceGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashboardbyyearoveryear:
    get:
      deprecated: false
      operationId: playerdashboardbyyearoveryearGET
      parameters:
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashptpass:
    get:
      deprecated: false
      operationId: playerdashptpassGET
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashptreb:
    get:
      deprecated: false
      operationId: playerdashptrebGET
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashptreboundlogs:
    get:
      deprecated: true
      operationId: playerdashptreboundlogsGET
      parameters:
      - in: query
        name: Season
        schema:
          type: string
      - in: query
        name: SeasonType
        schema:
          type: string
      - in: query
        name: PlayerID
        schema:
          type: string
      - in: query
        name: TeamID
        schema:
          type: string
      - in: query
        name: Outcome
        schema:
          type: string
      - in: query
        name: Location
        schema:
          type: string
      - in: query
        name: Month
        schema:
          type: string
      - in: query
        name: SeasonSegment
        schema:
          type: string
      - in: query
        name: DateFrom
        schema:
          type: string
      - in: query
        name: DateTo
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        schema:
          type: string
      - in: query
        name: VsConference
        schema:
          type: string
      - in: query
        name: VsDivision
        schema:
          type: string
      - in: query
        name: GameSegment
        schema:
          type: string
      - in: query
        name: Period
        schema:
          type: string
      - in: query
        name: LastNGames
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashptshotdefend:
    get:
      deprecated: false
      operationId: playerdashptshotdefendGET
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashptshotlog:
    get:
      deprecated: true
      operationId: playerdashptshotlogGET
      parameters:
      - in: query
        name: LeagueID
        schema:
          type: string
      - in: query
        name: Season
        schema:
          type: string
      - in: query
        name: SeasonType
        schema:
          type: string
      - in: query
        name: PlayerID
        schema:
          type: string
      - in: query
        name: TeamID
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerdashptshots:
    get:
      deprecated: false
      operationId: playerdashptshotsGET
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: TeamID
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playergamelog:
    get:
      deprecated: false
      operationId: playergamelogGET
      parameters:
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerprofile:
    get:
      deprecated: false
      operationId: playerprofileGET
      parameters:
      - in: query
        name: LeagueID
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: GraphStartSeason
        required: true
        schema:
          type: string
      - in: query
        name: GraphEndSeason
        required: true
        schema:
          type: string
      - in: query
        name: GraphStat
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playerprofilev2:
    get:
      deprecated: false
      operationId: playerprofilev2GET
      parameters:
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playersvsplayers:
    get:
      deprecated: false
      operationId: playersvsplayersGET
      parameters:
      - in: query
        name: PlayerTeamID
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID1
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID2
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID3
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID4
        required: true
        schema:
          type: string
      - in: query
        name: PlayerID5
        required: true
        schema:
          type: string
      - in: query
        name: VsTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID1
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID2
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID3
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID4
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID5
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
      - in: query
        name: PlusMinus
        required: true
        schema:
          type: string
      - in: query
        name: PaceAdjust
        required: true
        schema:
          type: string
      - in: query
        name: Rank
        required: true
        schema:
          type: string
      - in: query
        name: Season
        required: true
        schema:
          type: string
      - in: query
        name: Outcome
        required: true
        schema:
          type: string
      - in: query
        name: Location
        required: true
        schema:
          type: string
      - in: query
        name: Month
        required: true
        schema:
          type: string
      - in: query
        name: SeasonSegment
        required: true
        schema:
          type: string
      - in: query
        name: DateFrom
        required: true
        schema:
          type: string
      - in: query
        name: DateTo
        required: true
        schema:
          type: string
      - in: query
        name: OpponentTeamID
        required: true
        schema:
          type: string
      - in: query
        name: VsConference
        required: true
        schema:
          type: string
      - in: query
        name: VsDivision
        required: true
        schema:
          type: string
      - in: query
        name: GameSegment
        required: true
        schema:
          type: string
      - in: query
        name: Period
        required: true
        schema:
          type: string
      - in: query
        name: LastNGames
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: 200 OK
        "400":
          content: {}
          description: Bad request - bad parameters
        "404":
          content: {}
          description: '''No HTTP resource was found that matches the request URI''
            - possible deprecated endpoint'
      x-eov-operation-handler: controllers/DefaultController
  /playervsplayer:
    get:
      deprecated: false
      operationId: playervsplayerGET
      parameters:
      - in: query
        name: PlayerID
        required: true
        schema:
          type: string
      - in: query
        name: VsPlayerID
        required: true
        schema:
          type: string
      - in: query
        name: SeasonType
        required: true
        schema:
          type: string
      - in: query
        name: MeasureType
        required: true
        schema:
          type: string
      - in: query
        name: PerMode
        required: true
        schema:
          type: string
[...]
