openapi: 3.0.1
info:
  contact:
    email: support@launchdarkly.com
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
  description: Build custom integrations with the LaunchDarkly REST API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://launchdarkly.com/terms
  title: LaunchDarkly REST API
  version: 5.3.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/launchdarkly/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://launchdarkly.github.io/ld-openapi/openapi.json
    version: "2.0"
  x-providerName: launchdarkly.com
servers:
- url: https://app.launchdarkly.com/api/v2
security:
- Token: []
paths:
  /:
    get:
      description: You can issue a GET request to the root resource to find all of
        the resource categories supported by the API.
      operationId: get_root
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Links'
          description: A list of links to available resources in the API.
        "401":
          content: {}
          description: Invalid access token.
      tags:
      - Root
      x-openapi-router-controller: openapi_server.controllers.root_controller
  /account/relay-auto-configs:
    get:
      operationId: get_relay_proxy_configs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayProxyConfigs'
          description: Relay proxy configs response.
      summary: Returns a list of relay proxy configurations in the account.
      tags:
      - Relay proxy configurations
      x-openapi-router-controller: openapi_server.controllers.relay_proxy_configurations_controller
    post:
      operationId: post_relay_auto_config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postRelayAutoConfig_request'
        description: Create a new relay proxy configuration
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayProxyConfig'
          description: Relay proxy config response.
        "400":
          content: {}
          description: Invalid request body.
        "403":
          content: {}
          description: Access to the requested resource was denied.
      summary: Create a new relay proxy config.
      tags:
      - Relay proxy configurations
      x-codegen-request-body-name: relayProxyConfigBody
      x-openapi-router-controller: openapi_server.controllers.relay_proxy_configurations_controller
  /account/relay-auto-configs/{id}:
    delete:
      operationId: delete_relay_proxy_config
      parameters:
      - description: The relay proxy configuration ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "400":
          content: {}
          description: Invalid request body.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete a relay proxy configuration by ID.
      tags:
      - Relay proxy configurations
      x-openapi-router-controller: openapi_server.controllers.relay_proxy_configurations_controller
    get:
      operationId: get_relay_proxy_config
      parameters:
      - description: The relay proxy configuration ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayProxyConfig'
          description: Relay proxy config response.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a single relay proxy configuration by ID.
      tags:
      - Relay proxy configurations
      x-openapi-router-controller: openapi_server.controllers.relay_proxy_configurations_controller
    patch:
      operationId: patch_relay_proxy_config
      parameters:
      - description: The relay proxy configuration ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              type: array
        description: Requires a JSON Patch representation of the desired changes to
          the project. 'http://jsonpatch.com/'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayProxyConfig'
          description: Relay proxy config response.
        "400":
          content: {}
          description: Invalid request body.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: Modify a relay proxy configuration by ID.
      tags:
      - Relay proxy configurations
      x-codegen-request-body-name: patchDelta
      x-openapi-router-controller: openapi_server.controllers.relay_proxy_configurations_controller
  /account/relay-auto-configs/{id}/reset:
    post:
      operationId: reset_relay_proxy_config
      parameters:
      - description: The relay proxy configuration ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "An expiration time for the old relay proxy configuration key,\
          \ expressed as a Unix epoch time in milliseconds. By default, the relay\
          \ proxy configuration will expire immediately"
        in: query
        name: expiry
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayProxyConfig'
          description: Relay proxy config response.
        "400":
          content: {}
          description: Invalid request body.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Reset a relay proxy configuration's secret key with an optional expiry
        time for the old key.
      tags:
      - Relay proxy configurations
      x-openapi-router-controller: openapi_server.controllers.relay_proxy_configurations_controller
  /auditlog:
    get:
      operationId: get_audit_log_entries
      parameters:
      - description: "A timestamp filter, expressed as a Unix epoch time in milliseconds.\
          \ All entries returned will have before this timestamp."
        in: query
        name: before
        schema:
          format: int64
          type: integer
      - description: "A timestamp filter, expressed as a Unix epoch time in milliseconds.\
          \ All entries returned will have occurred after this timestamp."
        in: query
        name: after
        schema:
          format: int64
          type: integer
      - description: Text to search for. You can search for the full or partial name
          of the resource involved or full or partial email address of the member
          who made the change.
        in: query
        name: q
        schema:
          type: string
      - description: "A limit on the number of audit log entries to be returned, between\
          \ 1 and 20."
        in: query
        name: limit
        schema:
          type: number
      - description: "A resource specifier, allowing you to filter audit log listings\
          \ by resource."
        in: query
        name: spec
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogEntries'
          description: Audit log entries response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
      summary: "Get a list of all audit log entries. The query parameters allow you\
        \ to restrict the returned results by date ranges, resource specifiers, or\
        \ a full-text search query."
      tags:
      - Audit log
      x-openapi-router-controller: openapi_server.controllers.audit_log_controller
  /auditlog/{resourceId}:
    get:
      operationId: get_audit_log_entry
      parameters:
      - description: The resource ID.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogEntry'
          description: Audit log entry response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Use this endpoint to fetch a single audit log entry by its resouce
        ID.
      tags:
      - Audit log
      x-openapi-router-controller: openapi_server.controllers.audit_log_controller
  /destinations:
    get:
      operationId: get_destinations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Destinations'
          description: Destinations response.
        "401":
          content: {}
          description: Invalid access token.
      summary: Returns a list of all data export destinations.
      tags:
      - Data export destinations
      x-openapi-router-controller: openapi_server.controllers.data_export_destinations_controller
  /destinations/{projectKey}/{environmentKey}:
    post:
      operationId: post_destination
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: projectKey
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environmentKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postDestination_request'
        description: Create a new data export destination.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Destination'
          description: Destination response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Create a new data export destination
      tags:
      - Data export destinations
      x-codegen-request-body-name: destinationBody
      x-openapi-router-controller: openapi_server.controllers.data_export_destinations_controller
  /destinations/{projectKey}/{environmentKey}/{destinationId}:
    delete:
      operationId: delete_destination
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The data export destination ID.
        in: path
        name: destination_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a single data export destination by ID
      tags:
      - Data export destinations
      x-openapi-router-controller: openapi_server.controllers.data_export_destinations_controller
    get:
      operationId: get_destination
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The data export destination ID.
        in: path
        name: destinationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Destination'
          description: Destination response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a single data export destination by ID
      tags:
      - Data export destinations
      x-openapi-router-controller: openapi_server.controllers.data_export_destinations_controller
    patch:
      operationId: patch_destination
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The data export destination ID.
        in: path
        name: destination_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              type: array
        description: Requires a JSON Patch representation of the desired changes to
          the project. 'http://jsonpatch.com/' Feature flag patches also support JSON
          Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition of
          comments is also supported.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Destination'
          description: Destination response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: Perform a partial update to a data export destination.
      tags:
      - Data export destinations
      x-codegen-request-body-name: PatchOnly
      x-openapi-router-controller: openapi_server.controllers.data_export_destinations_controller
  /flag-status/{projectKey}/{featureFlagKey}:
    get:
      operationId: get_feature_flag_status_across_environments
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: featureFlagKey
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagStatusAcrossEnvironments'
          description: Status of the requested feature flag across environments
        "401":
          content: {}
          description: Invalid access token.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageError'
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
      summary: Get the status for a particular feature flag across environments
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /flag-statuses/{projectKey}/{environmentKey}:
    get:
      operationId: get_feature_flag_statuses
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagStatuses'
          description: List of feature flag statuses.
        "401":
          content: {}
          description: Invalid access token.
      summary: "Get a list of statuses for all feature flags. The status includes\
        \ the last time the feature flag was requested, as well as the state of the\
        \ flag."
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /flag-statuses/{projectKey}/{environmentKey}/{featureFlagKey}:
    get:
      operationId: get_feature_flag_status
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagStatus'
          description: Status of the requested feature flag.
        "401":
          content: {}
          description: Invalid access token.
      summary: Get the status for a particular feature flag.
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /flags/{projectKey}:
    get:
      operationId: get_feature_flags
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "By default, each feature will include configurations for each\
          \ environment. You can filter environments with the env query parameter.\
          \ For example, setting env=[\"production\"] will restrict the returned configurations\
          \ to just your production environment."
        explode: true
        in: query
        name: env
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "By default in api version >= 1, flags will _not_ include their\
          \ list of prerequisites, targets or rules.  Set summary=0 to include these\
          \ fields for each flag returned."
        in: query
        name: summary
        schema:
          type: boolean
      - description: "When set to 1, only archived flags will be included in the list\
          \ of flags returned.  By default, archived flags are not included in the\
          \ list of flags."
        in: query
        name: archived
        schema:
          type: boolean
      - description: "The number of objects to return. Defaults to -1, which returns\
          \ everything."
        in: query
        name: limit
        schema:
          type: number
      - description: "Where to start in the list. This is for use with pagination.\
          \ For example, an offset of 10 would skip the first 10 items and then return\
          \ the next limit items."
        in: query
        name: offset
        schema:
          type: number
      - description: A comma-separated list of filters. Each filter is of the form
          field:value.
        in: query
        name: filter
        schema:
          type: string
      - description: A comma-separated list of fields to sort by. A field prefixed
          by a - will be sorted in descending order.
        in: query
        name: sort
        schema:
          type: string
      - description: Filter by tag. A tag can be used to group flags across projects.
        in: query
        name: tag
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlags'
          description: Flags response.
        "401":
          content: {}
          description: Invalid access token.
      summary: Get a list of all features in the given project.
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    post:
      operationId: post_feature_flag
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The key of the feature flag to be cloned. The key identifies\
          \ the flag in your code.  For example, setting clone=flagKey will copy the\
          \ full targeting configuration for all environments (including on/off state)\
          \ from the original flag to the new flag."
        in: query
        name: clone
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postFeatureFlag_request'
        description: Create a new feature flag.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlag'
          description: Flag response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Creates a new feature flag.
      tags:
      - Feature flags
      x-codegen-request-body-name: featureFlagBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /flags/{projectKey}/{environmentKey}/{featureFlagKey}/dependent-flags:
    get:
      operationId: flags_project_key_environment_key_feature_flag_key_dependent_flags_get
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependentFlagsByEnvironment'
          description: Dependent flags in a single envrionemnt response
        "401":
          content: {}
          description: Invalid access token.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageError'
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get dependent flags for the flag in the environment specified in path
        parameters
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /flags/{projectKey}/{featureFlagKey}:
    delete:
      operationId: delete_feature_flag
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete a feature flag in all environments. Be careful-- only delete
        feature flags that are no longer being used by your application.
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    get:
      operationId: get_feature_flag
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "By default, each feature will include configurations for each\
          \ environment. You can filter environments with the env query parameter.\
          \ For example, setting env=[\"production\"] will restrict the returned configurations\
          \ to just your production environment."
        explode: true
        in: query
        name: env
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlag'
          description: Flag response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a single feature flag by key.
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    patch:
      operationId: patch_feature_flag
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchFeatureFlag_request'
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project, and an optional comment. 'http://jsonpatch.com/' Feature\
          \ flag patches also support JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386'\
          \ The addition of comments is also supported."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlag'
          description: Feature flag response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: Perform a partial update to a feature.
      tags:
      - Feature flags
      x-codegen-request-body-name: patchComment
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /flags/{projectKey}/{featureFlagKey}/copy:
    post:
      operationId: copy_feature_flag
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/copyFeatureFlag_request'
        description: Copy feature flag configurations between environments.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlag'
          description: Flag configuration copy response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Copies the feature flag configuration from one environment to the same
        feature flag in another environment.
      tags:
      - Feature flags
      x-codegen-request-body-name: featureFlagCopyBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /flags/{projectKey}/{featureFlagKey}/dependent-flags:
    get:
      operationId: flags_project_key_feature_flag_key_dependent_flags_get
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiEnvironmentDependentFlags'
          description: Dependent flags accross all environemnts in the project response
        "401":
          content: {}
          description: Invalid access token.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageError'
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get dependent flags across all environments for the flag specified
        in the path parameters
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /flags/{projectKey}/{featureFlagKey}/expiring-user-targets/{environmentKey}:
    get:
      operationId: get_expiring_user_targets
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTargetingExpirationForFlags'
          description: User targets of the requested feature flag.
        "401":
          content: {}
          description: Invalid access token.
      summary: Get expiring user targets for feature flag
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    patch:
      operationId: patch_expiring_user_targets
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/SemanticPatchOperation'
              type: array
        description: Requires a Semantic Patch representation of the desired changes
          to the resource. 'https://apidocs.launchdarkly.com/reference#updates-via-semantic-patches'.
          The addition of comments is also supported.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTargetingExpirationForFlags'
          description: User targeting expirations on feature flag response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: "Update, add, or delete expiring user targets on feature flag"
      tags:
      - Feature flags
      x-codegen-request-body-name: SemanticPatchWithComment
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /integrations:
    get:
      operationId: get_integrations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrations'
          description: Integrations response.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageError'
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
      summary: Get a list of all configured audit log event integrations associated
        with this account.
      tags:
      - Integrations
      x-openapi-router-controller: openapi_server.controllers.integrations_controller
  /integrations/{integrationKey}:
    get:
      operationId: get_integration_subscriptions
      parameters:
      - description: The key used to specify the integration kind.
        in: path
        name: integrationKey
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: Integrations response.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageError'
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a list of all configured integrations of a given kind.
      tags:
      - Integrations
      x-openapi-router-controller: openapi_server.controllers.integrations_controller
    post:
      operationId: post_integration_subscription
      parameters:
      - description: The key used to specify the integration kind.
        in: path
        name: integration_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIntegrationSubscription_request'
        description: Create a new integration subscription.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSubscription'
          description: Integrations response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Create a new integration subscription of a given kind.
      tags:
      - Integrations
      x-codegen-request-body-name: subscriptionBody
      x-openapi-router-controller: openapi_server.controllers.integrations_controller
  /integrations/{integrationKey}/{integrationId}:
    delete:
      operationId: delete_integration_subscription
      parameters:
      - description: The key used to specify the integration kind.
        in: path
        name: integration_key
        required: true
        schema:
          type: string
      - description: The integration ID.
        in: path
        name: integration_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete an integration subscription by ID.
      tags:
      - Integrations
      x-openapi-router-controller: openapi_server.controllers.integrations_controller
    get:
      operationId: get_integration_subscription
      parameters:
      - description: The key used to specify the integration kind.
        in: path
        name: integration_key
        required: true
        schema:
          type: string
      - description: The integration ID.
        in: path
        name: integrationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSubscription'
          description: Integrations response.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageError'
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a single integration subscription by ID.
      tags:
      - Integrations
      x-openapi-router-controller: openapi_server.controllers.integrations_controller
    patch:
      operationId: patch_integration_subscription
      parameters:
      - description: The key used to specify the integration kind.
        in: path
        name: integration_key
        required: true
        schema:
          type: string
      - description: The integration ID.
        in: path
        name: integration_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              type: array
        description: Requires a JSON Patch representation of the desired changes to
          the project. 'http://jsonpatch.com/'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSubscription'
          description: Integrations response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Modify an integration subscription by ID.
      tags:
      - Integrations
      x-codegen-request-body-name: patchDelta
      x-openapi-router-controller: openapi_server.controllers.integrations_controller
  /members:
    get:
      operationId: get_members
      parameters:
      - description: "The number of objects to return. Defaults to -1, which returns\
          \ everything."
        in: query
        name: limit
        schema:
          type: number
      - description: "Where to start in the list. This is for use with pagination.\
          \ For example, an offset of 10 would skip the first 10 items and then return\
          \ the next limit items."
        in: query
        name: offset
        schema:
          type: number
      - description: A comma-separated list of filters. Each filter is of the form
          field:value.
        in: query
        name: filter
        schema:
          type: string
      - description: A comma-separated list of fields to sort by. A field prefixed
          by a - will be sorted in descending order.
        in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Members'
          description: Members response.
        "401":
          content: {}
          description: Invalid access token.
      summary: Returns a list of all members in the account.
      tags:
      - Team members
      x-openapi-router-controller: openapi_server.controllers.team_members_controller
    post:
      operationId: post_members
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/postMembers_request_inner'
              type: array
        description: New members to invite.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Members'
          description: Members response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Invite new members.
      tags:
      - Team members
      x-codegen-request-body-name: membersBody
      x-openapi-router-controller: openapi_server.controllers.team_members_controller
  /members/me:
    get:
      operationId: get_me
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Member response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
      summary: Get the current team member associated with the token
      tags:
      - Team members
      x-openapi-router-controller: openapi_server.controllers.team_members_controller
  /members/{memberId}:
    delete:
      operationId: delete_member
      parameters:
      - description: The member ID.
        in: path
        name: member_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete a team member by ID.
      tags:
      - Team members
      x-openapi-router-controller: openapi_server.controllers.team_members_controller
    get:
      operationId: get_member
      parameters:
      - description: The member ID.
        in: path
        name: memberId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Member response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
      summary: Get a single team member by ID.
      tags:
      - Team members
      x-openapi-router-controller: openapi_server.controllers.team_members_controller
    patch:
      operationId: patch_member
      parameters:
      - description: The member ID.
        in: path
        name: member_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              type: array
        description: Requires a JSON Patch representation of the desired changes to
          the project. 'http://jsonpatch.com/'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Member response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: Modify a team member by ID.
      tags:
      - Team members
      x-codegen-request-body-name: patchDelta
      x-openapi-router-controller: openapi_server.controllers.team_members_controller
  /projects:
    get:
      operationId: get_projects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
          description: Projects response
        "401":
          content: {}
          description: Invalid access token.
      summary: Returns a list of all projects in the account.
      tags:
      - Projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      operationId: post_project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postProject_request'
        description: Project keys must be unique within an account.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful Project response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Create a new project with the given key and name.
      tags:
      - Projects
      x-codegen-request-body-name: projectBody
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /projects/{projectKey}:
    delete:
      operationId: delete_project
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete a project by key. Caution-- deleting a project will delete all
        associated environments and feature flags. You cannot delete the last project
        in an account.
      tags:
      - Projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      operationId: get_project
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful Project response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Fetch a single project by key.
      tags:
      - Projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      operationId: patch_project
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              type: array
        description: Requires a JSON Patch representation of the desired changes to
          the project. 'http://jsonpatch.com/'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful Project response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: Modify a project by ID.
      tags:
      - Projects
      x-codegen-request-body-name: patchDelta
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /projects/{projectKey}/environments:
    post:
      operationId: post_environment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentPost'
        description: New environment.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Environment response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: "Create a new environment in a specified project with a given name,\
        \ key, and swatch color."
      tags:
      - Environments
      x-codegen-request-body-name: environmentBody
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  /projects/{projectKey}/environments/{environmentKey}:
    delete:
      operationId: delete_environment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete an environment in a specific project.
      tags:
      - Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
    get:
      operationId: get_environment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Environment response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get an environment given a project and key.
      tags:
      - Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
    patch:
      operationId: patch_environment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              type: array
        description: Requires a JSON Patch representation of the desired changes to
          the project. 'http://jsonpatch.com/'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Environment response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: "Modify an environment by ID. If you try to patch the environment by\
        \ setting both required and requiredApprovalTags, it will result in an error.\
        \ Users can specify either required approvals for all flags in an environment\
        \ or those with specific tags, but not both. Only customers on an Enterprise\
        \ plan can require approval for flag updates with either mechanism."
      tags:
      - Environments
      x-codegen-request-body-name: patchDelta
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  /projects/{projectKey}/environments/{environmentKey}/apiKey:
    post:
      operationId: reset_environment_sdk_key
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: "An expiration time for the old environment SDK key, expressed\
          \ as a Unix epoch time in milliseconds. By default, the key will expire\
          \ immediately."
        in: query
        name: expiry
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Environment response.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: Reset an environment's SDK key with an optional expiry time for the
        old key.
      tags:
      - Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  /projects/{projectKey}/environments/{environmentKey}/mobileKey:
    post:
      operationId: reset_environment_mobile_key
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: "The expiry parameter is deprecated for this endpoint, so the\
          \ old mobile key will always expire immediately. This parameter will be\
          \ removed in an upcoming major API client version."
        in: query
        name: expiry
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Environment response.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: "Reset an environment's mobile key. The optional expiry for the old\
        \ key is deprecated for this endpoint, so the old key will always expire immediately."
      tags:
      - Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests:
    get:
      operationId: get_approval_requests
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequests'
          description: Approval requests response
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get all approval requests for a feature flag config
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}:
    delete:
      operationId: delete_approval_request
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: The approval request ID
        in: path
        name: approval_request_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApprovalRequest_request'
        description: Create a new approval request
        required: false
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete an approval request for a feature flag config
      tags:
      - Feature flags
      x-codegen-request-body-name: approvalRequestConfigBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    get:
      operationId: get_approval_request
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The approval request ID
        in: path
        name: approvalRequestId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequests'
          description: Approval request response
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a single approval request for a feature flag config
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    post:
      operationId: post_approval_request
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The approval request ID
        in: path
        name: approval_request_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApprovalRequest_request'
        description: Create a new approval request
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
          description: Approval request response
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Create an approval request for a feature flag config
      tags:
      - Feature flags
      x-codegen-request-body-name: approvalRequestConfigBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}/apply:
    post:
      operationId: post_apply_approval_request
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The approval request ID
        in: path
        name: approval_request_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApplyApprovalRequest_request'
        description: Apply an approval request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequests'
          description: Approval request applied response
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Apply approval request for a feature flag config
      tags:
      - Feature flags
      x-codegen-request-body-name: approvalRequestApplyConfigBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}/review:
    post:
      operationId: post_review_approval_request
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The approval request ID
        in: path
        name: approval_request_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReviewApprovalRequest_request'
        description: Review an approval request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequests'
          description: Approval request reviewed response
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Review approval request for a feature flag config
      tags:
      - Feature flags
      x-codegen-request-body-name: approvalRequestReviewConfigBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes:
    get:
      operationId: get_flag_config_scheduled_changes
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagScheduledChanges'
          description: A list of scheduled changes for feature flag response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get all scheduled workflows for a feature flag by key.
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    post:
      operationId: post_flag_config_scheduled_changes
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postFlagConfigScheduledChanges_request'
        description: Create scheduled changes on a feature flag.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagScheduledChange'
          description: A scheduled change for feature flag response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Creates a new scheduled change for a feature flag.
      tags:
      - Feature flags
      x-codegen-request-body-name: flagConfigScheduledChangesPostBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes-conflicts:
    post:
      operationId: get_flag_config_scheduled_changes_conflicts
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getFlagConfigScheduledChangesConflicts_request'
        description: Used to determine if a semantic patch will result in conflicts
          with scheduled changes on a feature flag.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagScheduledChangesConflicts'
          description: Scheduled changes conflict response
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: "Lists conflicts between the given instructions and any existing scheduled\
        \ changes for the feature flag. The actual HTTP verb should be REPORT, not\
        \ POST."
      tags:
      - Feature flags
      x-codegen-request-body-name: flagConfigScheduledChangesConflictsBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes/{scheduledChangeId}:
    delete:
      operationId: delete_flag_config_scheduled_changes
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The id of the scheduled change
        in: path
        name: scheduled_change_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete a scheduled change on a feature flag in an environment.
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    get:
      operationId: get_flag_config_scheduled_change
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The id of the scheduled change
        in: path
        name: scheduledChangeId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagScheduledChange'
          description: A scheduled change for feature flag response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a scheduled change on a feature flag by id.
      tags:
      - Feature flags
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
    patch:
      operationId: patch_flag_config_scheduled_change
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: The feature flag's key. The key identifies the flag in your code.
        in: path
        name: feature_flag_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The id of the scheduled change
        in: path
        name: scheduled_change_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchFlagConfigScheduledChange_request'
        description: Update scheduled changes on a feature flag.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagScheduledChange'
          description: A Scheduled change for feature flag response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Updates an existing scheduled-change on a feature flag in an environment.
      tags:
      - Feature flags
      x-codegen-request-body-name: flagConfigScheduledChangesPatchBody
      x-openapi-router-controller: openapi_server.controllers.feature_flags_controller
  /roles:
    get:
      operationId: get_custom_roles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRoles'
          description: Custom roles response.
        "401":
          content: {}
          description: Invalid access token.
      summary: Return a complete list of custom roles.
      tags:
      - Custom roles
      x-openapi-router-controller: openapi_server.controllers.custom_roles_controller
    post:
      operationId: post_custom_role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCustomRole_request'
        description: New role or roles to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRole'
          description: Custom role response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Create a new custom role.
      tags:
      - Custom roles
      x-codegen-request-body-name: customRoleBody
      x-openapi-router-controller: openapi_server.controllers.custom_roles_controller
  /roles/{customRoleKey}:
    delete:
      operationId: delete_custom_role
      parameters:
      - description: The custom role key.
        in: path
        name: custom_role_key
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete a custom role by key.
      tags:
      - Custom roles
      x-openapi-router-controller: openapi_server.controllers.custom_roles_controller
    get:
      operationId: get_custom_role
      parameters:
      - description: The custom role key.
        in: path
        name: customRoleKey
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRole'
          description: Custom role response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
      summary: Get one custom role by key.
      tags:
      - Custom roles
      x-openapi-router-controller: openapi_server.controllers.custom_roles_controller
    patch:
      operationId: patch_custom_role
      parameters:
      - description: The custom role key.
        in: path
        name: custom_role_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              type: array
        description: Requires a JSON Patch representation of the desired changes to
          the project. 'http://jsonpatch.com/'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRole'
          description: Custom role response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: Modify a custom role by key.
      tags:
      - Custom roles
      x-codegen-request-body-name: patchDelta
      x-openapi-router-controller: openapi_server.controllers.custom_roles_controller
  /segments/{projectKey}/{environmentKey}:
    get:
      operationId: get_user_segments
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: Filter by tag. A tag can be used to group flags across projects.
        in: query
        name: tag
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegments'
          description: Segments response.
        "401":
          content: {}
          description: Invalid access token.
      summary: Get a list of all user segments in the given project.
      tags:
      - User segments
      x-openapi-router-controller: openapi_server.controllers.user_segments_controller
    post:
      operationId: post_user_segment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postUserSegment_request'
        description: Create a new user segment.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegment'
          description: User segment response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "409":
          content: {}
          description: Status conflict.
      summary: Creates a new user segment.
      tags:
      - User segments
      x-codegen-request-body-name: userSegmentBody
      x-openapi-router-controller: openapi_server.controllers.user_segments_controller
  /segments/{projectKey}/{environmentKey}/{userSegmentKey}:
    delete:
      operationId: delete_user_segment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The user segment's key. The key identifies the user segment in
          your code.
        in: path
        name: user_segment_key
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Delete a user segment.
      tags:
      - User segments
      x-openapi-router-controller: openapi_server.controllers.user_segments_controller
    get:
      operationId: get_user_segment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The user segment's key. The key identifies the user segment in
          your code.
        in: path
        name: userSegmentKey
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegment'
          description: User segment response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get a single user segment by key.
      tags:
      - User segments
      x-openapi-router-controller: openapi_server.controllers.user_segments_controller
    patch:
      operationId: patch_user_segment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The user segment's key. The key identifies the user segment in
          your code.
        in: path
        name: user_segment_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              type: array
        description: Requires a JSON Patch representation of the desired changes to
          the project. 'http://jsonpatch.com/' Feature flag patches also support JSON
          Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition of
          comments is also supported.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegment'
          description: User segment response.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
        "409":
          content: {}
          description: Status conflict.
      summary: Perform a partial update to a user segment.
      tags:
      - User segments
      x-codegen-request-body-name: PatchOnly
      x-openapi-router-controller: openapi_server.controllers.user_segments_controller
  /segments/{projectKey}/{environmentKey}/{userSegmentKey}/users:
    post:
      operationId: update_big_segment_targets
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The user segment's key. The key identifies the user segment in
          your code.
        in: path
        name: user_segment_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateBigSegmentTargets_request'
        description: Add or remove user targets to the included or excluded lists
          on a big segment. Contact your account manager for early access to this
          feature.
        required: true
      responses:
        "204":
          content: {}
          description: Action completed successfully.
        "400":
          content: {}
          description: Invalid request body.
        "401":
          content: {}
          description: Invalid access token.
      summary: Update targets included or excluded in a big segment
      tags:
      - User segments
      x-codegen-request-body-name: bigSegmentTargetsBody
      x-openapi-router-controller: openapi_server.controllers.user_segments_controller
  /segments/{projectKey}/{userSegmentKey}/expiring-user-targets/{environmentKey}:
    get:
      operationId: get_expiring_user_targets_on_segment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The user segment's key. The key identifies the user segment in
          your code.
        in: path
        name: user_segment_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTargetingExpirationForSegment'
          description: User targeting expirations on user segment response.
        "401":
          content: {}
          description: Invalid access token.
        "404":
          content: {}
          description: Invalid resource specifier.
      summary: Get expiring user targets for user segment
      tags:
      - User segments
      x-openapi-router-controller: openapi_server.controllers.user_segments_controller
    patch:
      operationId: patch_expiring_user_targets_on_segment
      parameters:
      - description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        in: path
        name: project_key
        required: true
        schema:
          type: string
      - description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        in: path
        name: environment_key
        required: true
        schema:
          type: string
      - description: The user segment's key. The key identifies the user segment in
          your code.
        in: path
        name: user_segment_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/SemanticPatchOperation'
              type: array
        description: Requires a Semantic Patch representation of the desired changes
          to the resource. 'https://apidocs.launchdarkly.com/reference#updates-via-semantic-patches'.
          The addition of comments is also supported.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTargetingExpirationForSegment'
[...]
