openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  description: "<fullname>Identity and Access Management</fullname> <p>Identity and\
    \ Access Management (IAM) is a web service for securely controlling access to\
    \ Amazon Web Services services. With IAM, you can centrally manage users, security\
    \ credentials such as access keys, and permissions that control which Amazon Web\
    \ Services resources users and applications can access. For more information about\
    \ IAM, see <a href=\"http://aws.amazon.com/iam/\">Identity and Access Management\
    \ (IAM)</a> and the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/\"\
    >Identity and Access Management User Guide</a>.</p>"
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  termsOfService: https://aws.amazon.com/service-terms/
  title: AWS Identity and Access Management
  version: 2010-05-08
  x-release: v4
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  x-providerName: amazonaws.com
  x-serviceName: iam
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iam-2010-05-08.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/iam/
servers:
- description: The general IAM multi-region endpoint
  url: https://iam.amazonaws.com
- description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
  url: http://iam.us-gov.amazonaws.com
- description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
  url: https://iam.us-gov.amazonaws.com
- description: The general IAM endpoint for China (Beijing) and China (Ningxia)
  url: http://iam.cn-north-1.amazonaws.com.cn
- description: The general IAM endpoint for China (Beijing) and China (Ningxia)
  url: https://iam.cn-north-1.amazonaws.com.cn
security:
- hmac: []
paths:
  /#Action=AddClientIDToOpenIDConnectProvider:
    get:
      description: <p>Adds a new client ID (also known as audience) to the list of
        client IDs already registered for the specified IAM OpenID Connect (OIDC)
        provider resource.</p> <p>This operation is idempotent; it does not fail or
        return an error if you add an existing client ID to the provider.</p>
      operationId: get_add_client_idto_open_id_connect_provider
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The Amazon Resource Name (ARN) of the IAM OpenID Connect (OIDC)
          provider resource to add the client ID to. You can get a list of OIDC provider
          ARNs by using the <a>ListOpenIDConnectProviders</a> operation.
        explode: true
        in: query
        name: OpenIDConnectProviderArn
        required: true
        schema:
          description: "<p>The Amazon Resource Name (ARN). ARNs are unique identifiers\
            \ for Amazon Web Services resources.</p> <p>For more information about\
            \ ARNs, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
            >Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General\
            \ Reference</i>. </p>"
          maxLength: 2048
          minLength: 20
          type: string
        style: form
      - description: The client ID (also known as audience) to add to the IAM OpenID
          Connect provider resource.
        explode: true
        in: query
        name: ClientID
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AddClientIDToOpenIDConnectProvider
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AddClientIDToOpenIDConnectProvider
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: <p>Adds a new client ID (also known as audience) to the list of
        client IDs already registered for the specified IAM OpenID Connect (OIDC)
        provider resource.</p> <p>This operation is idempotent; it does not fail or
        return an error if you add an existing client ID to the provider.</p>
      operationId: post_add_client_idto_open_id_connect_provider
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AddClientIDToOpenIDConnectProvider
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AddClientIDToOpenIDConnectProviderRequest'
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AddClientIDToOpenIDConnectProvider
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=AddRoleToInstanceProfile:
    get:
      description: "<p>Adds the specified IAM role to the specified instance profile.\
        \ An instance profile can contain only one role, and this quota cannot be\
        \ increased. You can remove the existing role and then add a different role\
        \ to an instance profile. You must then wait for the change to appear across\
        \ all of Amazon Web Services because of <a href=\"https://en.wikipedia.org/wiki/Eventual_consistency\"\
        >eventual consistency</a>. To force the change, you must <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DisassociateIamInstanceProfile.html\"\
        >disassociate the instance profile</a> and then <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html\"\
        >associate the instance profile</a>, or you can stop your instance and then\
        \ restart it.</p> <note> <p>The caller of this operation must be granted the\
        \ <code>PassRole</code> permission on the IAM role by a permissions policy.</p>\
        \ </note> <p> For more information about roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html\"\
        >IAM roles</a> in the <i>IAM User Guide</i>. For more information about instance\
        \ profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2_instance-profiles.html\"\
        >Using instance profiles</a> in the <i>IAM User Guide</i>.</p>"
      operationId: get_add_role_to_instance_profile
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The name of the instance profile to update.</p> <p>This parameter\
          \ allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex\
          \ pattern</a>) a string of characters consisting of upper and lowercase\
          \ alphanumeric characters with no spaces. You can also include any of the\
          \ following characters: _+=,.@-</p>"
        explode: true
        in: query
        name: InstanceProfileName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - description: "<p>The name of the role to add.</p> <p>This parameter allows\
          \ (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>)\
          \ a string of characters consisting of upper and lowercase alphanumeric\
          \ characters with no spaces. You can also include any of the following characters:\
          \ _+=,.@-</p>"
        explode: true
        in: query
        name: RoleName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AddRoleToInstanceProfile
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
          description: EntityAlreadyExistsException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
          description: UnmodifiableEntityException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AddRoleToInstanceProfile
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Adds the specified IAM role to the specified instance profile.\
        \ An instance profile can contain only one role, and this quota cannot be\
        \ increased. You can remove the existing role and then add a different role\
        \ to an instance profile. You must then wait for the change to appear across\
        \ all of Amazon Web Services because of <a href=\"https://en.wikipedia.org/wiki/Eventual_consistency\"\
        >eventual consistency</a>. To force the change, you must <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DisassociateIamInstanceProfile.html\"\
        >disassociate the instance profile</a> and then <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html\"\
        >associate the instance profile</a>, or you can stop your instance and then\
        \ restart it.</p> <note> <p>The caller of this operation must be granted the\
        \ <code>PassRole</code> permission on the IAM role by a permissions policy.</p>\
        \ </note> <p> For more information about roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html\"\
        >IAM roles</a> in the <i>IAM User Guide</i>. For more information about instance\
        \ profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2_instance-profiles.html\"\
        >Using instance profiles</a> in the <i>IAM User Guide</i>.</p>"
      operationId: post_add_role_to_instance_profile
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AddRoleToInstanceProfile
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AddRoleToInstanceProfileRequest'
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
          description: EntityAlreadyExistsException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
          description: UnmodifiableEntityException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AddRoleToInstanceProfile
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=AddUserToGroup:
    get:
      description: Adds the specified user to the specified group.
      operationId: get_add_user_to_group
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The name of the group to update.</p> <p>This parameter allows\
          \ (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>)\
          \ a string of characters consisting of upper and lowercase alphanumeric\
          \ characters with no spaces. You can also include any of the following characters:\
          \ _+=,.@-</p>"
        explode: true
        in: query
        name: GroupName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - description: "<p>The name of the user to add.</p> <p>This parameter allows\
          \ (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>)\
          \ a string of characters consisting of upper and lowercase alphanumeric\
          \ characters with no spaces. You can also include any of the following characters:\
          \ _+=,.@-</p>"
        explode: true
        in: query
        name: UserName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AddUserToGroup
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AddUserToGroup
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Adds the specified user to the specified group.
      operationId: post_add_user_to_group
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AddUserToGroup
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AddUserToGroupRequest'
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AddUserToGroup
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=AttachGroupPolicy:
    get:
      description: "<p>Attaches the specified managed policy to the specified IAM\
        \ group.</p> <p>You use this operation to attach a managed policy to a group.\
        \ To embed an inline policy in a group, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutGroupPolicy.html\"\
        > <code>PutGroupPolicy</code> </a>.</p> <p>As a best practice, you can validate\
        \ your IAM policies. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\"\
        >Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more\
        \ information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\"\
        >Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
      operationId: get_attach_group_policy
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The name (friendly name, not ARN) of the group to attach\
          \ the policy to.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\"\
          >regex pattern</a>) a string of characters consisting of upper and lowercase\
          \ alphanumeric characters with no spaces. You can also include any of the\
          \ following characters: _+=,.@-</p>"
        explode: true
        in: query
        name: GroupName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - description: "<p>The Amazon Resource Name (ARN) of the IAM policy you want\
          \ to attach.</p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
          >Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General\
          \ Reference</i>.</p>"
        explode: true
        in: query
        name: PolicyArn
        required: true
        schema:
          description: "<p>The Amazon Resource Name (ARN). ARNs are unique identifiers\
            \ for Amazon Web Services resources.</p> <p>For more information about\
            \ ARNs, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
            >Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General\
            \ Reference</i>. </p>"
          maxLength: 2048
          minLength: 20
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AttachGroupPolicy
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PolicyNotAttachableException'
          description: PolicyNotAttachableException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AttachGroupPolicy
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Attaches the specified managed policy to the specified IAM\
        \ group.</p> <p>You use this operation to attach a managed policy to a group.\
        \ To embed an inline policy in a group, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutGroupPolicy.html\"\
        > <code>PutGroupPolicy</code> </a>.</p> <p>As a best practice, you can validate\
        \ your IAM policies. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\"\
        >Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more\
        \ information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\"\
        >Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
      operationId: post_attach_group_policy
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AttachGroupPolicy
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AttachGroupPolicyRequest'
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PolicyNotAttachableException'
          description: PolicyNotAttachableException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AttachGroupPolicy
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=AttachRolePolicy:
    get:
      description: "<p>Attaches the specified managed policy to the specified IAM\
        \ role. When you attach a managed policy to a role, the managed policy becomes\
        \ part of the role's permission (access) policy.</p> <note> <p>You cannot\
        \ use a managed policy as the role's trust policy. The role's trust policy\
        \ is created at the same time as the role, using <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\"\
        > <code>CreateRole</code> </a>. You can update a role's trust policy using\
        \ <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_UpdateAssumeRolePolicy.html\"\
        > <code>UpdateAssumerolePolicy</code> </a>.</p> </note> <p>Use this operation\
        \ to attach a <i>managed</i> policy to a role. To embed an inline policy in\
        \ a role, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutRolePolicy.html\"\
        > <code>PutRolePolicy</code> </a>. For more information about policies, see\
        \ <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\"\
        >Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>\
        \ <p>As a best practice, you can validate your IAM policies. To learn more,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\"\
        >Validating IAM policies</a> in the <i>IAM User Guide</i>.</p>"
      operationId: get_attach_role_policy
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The name (friendly name, not ARN) of the role to attach the\
          \ policy to.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\"\
          >regex pattern</a>) a string of characters consisting of upper and lowercase\
          \ alphanumeric characters with no spaces. You can also include any of the\
          \ following characters: _+=,.@-</p>"
        explode: true
        in: query
        name: RoleName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - description: "<p>The Amazon Resource Name (ARN) of the IAM policy you want\
          \ to attach.</p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
          >Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General\
          \ Reference</i>.</p>"
        explode: true
        in: query
        name: PolicyArn
        required: true
        schema:
          description: "<p>The Amazon Resource Name (ARN). ARNs are unique identifiers\
            \ for Amazon Web Services resources.</p> <p>For more information about\
            \ ARNs, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
            >Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General\
            \ Reference</i>. </p>"
          maxLength: 2048
          minLength: 20
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AttachRolePolicy
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
          description: UnmodifiableEntityException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PolicyNotAttachableException'
          description: PolicyNotAttachableException
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AttachRolePolicy
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Attaches the specified managed policy to the specified IAM\
        \ role. When you attach a managed policy to a role, the managed policy becomes\
        \ part of the role's permission (access) policy.</p> <note> <p>You cannot\
        \ use a managed policy as the role's trust policy. The role's trust policy\
        \ is created at the same time as the role, using <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\"\
        > <code>CreateRole</code> </a>. You can update a role's trust policy using\
        \ <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_UpdateAssumeRolePolicy.html\"\
        > <code>UpdateAssumerolePolicy</code> </a>.</p> </note> <p>Use this operation\
        \ to attach a <i>managed</i> policy to a role. To embed an inline policy in\
        \ a role, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutRolePolicy.html\"\
        > <code>PutRolePolicy</code> </a>. For more information about policies, see\
        \ <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\"\
        >Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>\
        \ <p>As a best practice, you can validate your IAM policies. To learn more,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\"\
        >Validating IAM policies</a> in the <i>IAM User Guide</i>.</p>"
      operationId: post_attach_role_policy
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AttachRolePolicy
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AttachRolePolicyRequest'
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
          description: UnmodifiableEntityException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PolicyNotAttachableException'
          description: PolicyNotAttachableException
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AttachRolePolicy
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=AttachUserPolicy:
    get:
      description: "<p>Attaches the specified managed policy to the specified user.</p>\
        \ <p>You use this operation to attach a <i>managed</i> policy to a user. To\
        \ embed an inline policy in a user, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutUserPolicy.html\"\
        > <code>PutUserPolicy</code> </a>.</p> <p>As a best practice, you can validate\
        \ your IAM policies. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\"\
        >Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more\
        \ information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\"\
        >Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
      operationId: get_attach_user_policy
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The name (friendly name, not ARN) of the IAM user to attach\
          \ the policy to.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\"\
          >regex pattern</a>) a string of characters consisting of upper and lowercase\
          \ alphanumeric characters with no spaces. You can also include any of the\
          \ following characters: _+=,.@-</p>"
        explode: true
        in: query
        name: UserName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - description: "<p>The Amazon Resource Name (ARN) of the IAM policy you want\
          \ to attach.</p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
          >Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General\
          \ Reference</i>.</p>"
        explode: true
        in: query
        name: PolicyArn
        required: true
        schema:
          description: "<p>The Amazon Resource Name (ARN). ARNs are unique identifiers\
            \ for Amazon Web Services resources.</p> <p>For more information about\
            \ ARNs, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
            >Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General\
            \ Reference</i>. </p>"
          maxLength: 2048
          minLength: 20
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AttachUserPolicy
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PolicyNotAttachableException'
          description: PolicyNotAttachableException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AttachUserPolicy
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Attaches the specified managed policy to the specified user.</p>\
        \ <p>You use this operation to attach a <i>managed</i> policy to a user. To\
        \ embed an inline policy in a user, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutUserPolicy.html\"\
        > <code>PutUserPolicy</code> </a>.</p> <p>As a best practice, you can validate\
        \ your IAM policies. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\"\
        >Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more\
        \ information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\"\
        >Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
      operationId: post_attach_user_policy
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AttachUserPolicy
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AttachUserPolicyRequest'
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PolicyNotAttachableException'
          description: PolicyNotAttachableException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: AttachUserPolicy
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=ChangePassword:
    get:
      description: "<p>Changes the password of the IAM user who is calling this operation.\
        \ This operation can be performed using the CLI, the Amazon Web Services API,\
        \ or the <b>My Security Credentials</b> page in the Amazon Web Services Management\
        \ Console. The Amazon Web Services account root user password is not affected\
        \ by this operation.</p> <p>Use <a>UpdateLoginProfile</a> to use the CLI,\
        \ the Amazon Web Services API, or the <b>Users</b> page in the IAM console\
        \ to change the password for any IAM user. For more information about modifying\
        \ passwords, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\"\
        >Managing passwords</a> in the <i>IAM User Guide</i>.</p>"
      operationId: get_change_password
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The IAM user's current password.
        explode: true
        in: query
        name: OldPassword
        required: true
        schema:
          format: password
          maxLength: 128
          minLength: 1
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
          type: string
        style: form
      - description: "<p>The new password. The new password must conform to the Amazon\
          \ Web Services account's password policy, if one exists.</p> <p>The <a href=\"\
          http://wikipedia.org/wiki/regex\">regex pattern</a> that is used to validate\
          \ this parameter is a string of characters. That string can include almost\
          \ any printable ASCII character from the space (<code>\\u0020</code>) through\
          \ the end of the ASCII character range (<code>\\u00FF</code>). You can also\
          \ include the tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>),\
          \ and carriage return (<code>\\u000D</code>) characters. Any of these characters\
          \ are valid in a password. However, many tools, such as the Amazon Web Services\
          \ Management Console, might restrict the ability to type certain characters\
          \ because they have special meaning within that tool.</p>"
        explode: true
        in: query
        name: NewPassword
        required: true
        schema:
          format: password
          maxLength: 128
          minLength: 1
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - ChangePassword
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidUserTypeException'
          description: InvalidUserTypeException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityTemporarilyUnmodifiableException'
          description: EntityTemporarilyUnmodifiableException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PasswordPolicyViolationException'
          description: PasswordPolicyViolationException
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: ChangePassword
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Changes the password of the IAM user who is calling this operation.\
        \ This operation can be performed using the CLI, the Amazon Web Services API,\
        \ or the <b>My Security Credentials</b> page in the Amazon Web Services Management\
        \ Console. The Amazon Web Services account root user password is not affected\
        \ by this operation.</p> <p>Use <a>UpdateLoginProfile</a> to use the CLI,\
        \ the Amazon Web Services API, or the <b>Users</b> page in the IAM console\
        \ to change the password for any IAM user. For more information about modifying\
        \ passwords, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\"\
        >Managing passwords</a> in the <i>IAM User Guide</i>.</p>"
      operationId: post_change_password
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - ChangePassword
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidUserTypeException'
          description: InvalidUserTypeException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityTemporarilyUnmodifiableException'
          description: EntityTemporarilyUnmodifiableException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PasswordPolicyViolationException'
          description: PasswordPolicyViolationException
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: ChangePassword
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=CreateAccessKey:
    get:
      description: "<p> Creates a new Amazon Web Services secret access key and corresponding\
        \ Amazon Web Services access key ID for the specified user. The default status\
        \ for new keys is <code>Active</code>.</p> <p>If you do not specify a user\
        \ name, IAM determines the user name implicitly based on the Amazon Web Services\
        \ access key ID signing the request. This operation works for access keys\
        \ under the Amazon Web Services account. Consequently, you can use this operation\
        \ to manage Amazon Web Services account root user credentials. This is true\
        \ even if the Amazon Web Services account has no associated users.</p> <p>\
        \ For information about quotas on the number of keys you can create, see <a\
        \ href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\"\
        >IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <important> <p>To\
        \ ensure the security of your Amazon Web Services account, the secret access\
        \ key is accessible only during key and user creation. You must save the key\
        \ (for example, in a text file) if you want to be able to access it again.\
        \ If a secret key is lost, you can delete the access keys for the associated\
        \ user and then create new keys.</p> </important>"
      operationId: get_create_access_key
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The name of the IAM user that the new key will belong to.</p>\
          \ <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\"\
          >regex pattern</a>) a string of characters consisting of upper and lowercase\
          \ alphanumeric characters with no spaces. You can also include any of the\
          \ following characters: _+=,.@-</p>"
        explode: true
        in: query
        name: UserName
        required: false
        schema:
          maxLength: 128
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - CreateAccessKey
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateAccessKeyResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: CreateAccessKey
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p> Creates a new Amazon Web Services secret access key and corresponding\
        \ Amazon Web Services access key ID for the specified user. The default status\
        \ for new keys is <code>Active</code>.</p> <p>If you do not specify a user\
        \ name, IAM determines the user name implicitly based on the Amazon Web Services\
        \ access key ID signing the request. This operation works for access keys\
        \ under the Amazon Web Services account. Consequently, you can use this operation\
        \ to manage Amazon Web Services account root user credentials. This is true\
        \ even if the Amazon Web Services account has no associated users.</p> <p>\
        \ For information about quotas on the number of keys you can create, see <a\
        \ href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\"\
        >IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <important> <p>To\
        \ ensure the security of your Amazon Web Services account, the secret access\
        \ key is accessible only during key and user creation. You must save the key\
        \ (for example, in a text file) if you want to be able to access it again.\
        \ If a secret key is lost, you can delete the access keys for the associated\
        \ user and then create new keys.</p> </important>"
      operationId: post_create_access_key
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - CreateAccessKey
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateAccessKeyRequest'
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateAccessKeyResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: CreateAccessKey
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=CreateAccountAlias:
    get:
      description: "Creates an alias for your Amazon Web Services account. For information\
        \ about using an Amazon Web Services account alias, see <a href=\"https://docs.aws.amazon.com/signin/latest/userguide/CreateAccountAlias.html\"\
        >Creating, deleting, and listing an Amazon Web Services account alias</a>\
        \ in the <i>Amazon Web Services Sign-In User Guide</i>."
      operationId: get_create_account_alias
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The account alias to create.</p> <p>This parameter allows\
          \ (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>)\
          \ a string of characters consisting of lowercase letters, digits, and dashes.\
          \ You cannot start or finish with a dash, nor can you have two dashes in\
          \ a row.</p>"
        explode: true
        in: query
        name: AccountAlias
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z0-9]([a-z0-9]|-(?!-)){1,61}[a-z0-9]$"
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - CreateAccountAlias
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModificationException'
          description: ConcurrentModificationException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
          description: EntityAlreadyExistsException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: CreateAccountAlias
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "Creates an alias for your Amazon Web Services account. For information\
        \ about using an Amazon Web Services account alias, see <a href=\"https://docs.aws.amazon.com/signin/latest/userguide/CreateAccountAlias.html\"\
        >Creating, deleting, and listing an Amazon Web Services account alias</a>\
        \ in the <i>Amazon Web Services Sign-In User Guide</i>."
      operationId: post_create_account_alias
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - CreateAccountAlias
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateAccountAliasRequest'
      responses:
        "200":
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModificationException'
          description: ConcurrentModificationException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
          description: EntityAlreadyExistsException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: CreateAccountAlias
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=CreateGroup:
    get:
      description: "<p>Creates a new group.</p> <p> For information about the number\
        \ of groups you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\"\
        >IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p>"
      operationId: get_create_group
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p> The path to the group. For more information about paths,\
          \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\"\
          >IAM identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter\
          \ is optional. If it is not included, it defaults to a slash (/).</p> <p>This\
          \ parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\"\
          >regex pattern</a>) a string of characters consisting of either a forward\
          \ slash (/) by itself or a string that must begin and end with forward slashes.\
          \ In addition, it can contain any ASCII character from the ! (<code>\\u0021</code>)\
          \ through the DEL character (<code>\\u007F</code>), including most punctuation\
          \ characters, digits, and upper and lowercased letters.</p>"
        explode: true
        in: query
        name: Path
        required: false
        schema:
          maxLength: 512
          minLength: 1
          pattern: "(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)"
          type: string
        style: form
      - description: "<p>The name of the group to create. Do not include the path\
          \ in this value.</p> <p>IAM user, group, role, and policy names must be\
          \ unique within the account. Names are not distinguished by case. For example,\
          \ you cannot create resources named both \"MyResource\" and \"myresource\"\
          .</p>"
        explode: true
        in: query
        name: GroupName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - CreateGroup
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
          description: EntityAlreadyExistsException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: CreateGroup
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p>Creates a new group.</p> <p> For information about the number\
        \ of groups you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\"\
        >IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p>"
      operationId: post_create_group
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - CreateGroup
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
          description: EntityAlreadyExistsException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
          description: NoSuchEntityException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: CreateGroup
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=CreateInstanceProfile:
    get:
      description: "<p> Creates a new instance profile. For information about instance\
        \ profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2.html\"\
        >Using roles for applications on Amazon EC2</a> in the <i>IAM User Guide</i>,\
        \ and <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html#ec2-instance-profile\"\
        >Instance profiles</a> in the <i>Amazon EC2 User Guide</i>.</p> <p> For information\
        \ about the number of instance profiles you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\"\
        >IAM object quotas</a> in the <i>IAM User Guide</i>.</p>"
      operationId: get_create_instance_profile
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The name of the instance profile to create.</p> <p>This parameter\
          \ allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex\
          \ pattern</a>) a string of characters consisting of upper and lowercase\
          \ alphanumeric characters with no spaces. You can also include any of the\
          \ following characters: _+=,.@-</p>"
        explode: true
        in: query
        name: InstanceProfileName
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - description: "<p> The path to the instance profile. For more information about\
          \ paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\"\
          >IAM Identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter\
          \ is optional. If it is not included, it defaults to a slash (/).</p> <p>This\
          \ parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\"\
          >regex pattern</a>) a string of characters consisting of either a forward\
          \ slash (/) by itself or a string that must begin and end with forward slashes.\
          \ In addition, it can contain any ASCII character from the ! (<code>\\u0021</code>)\
          \ through the DEL character (<code>\\u007F</code>), including most punctuation\
          \ characters, digits, and upper and lowercased letters.</p>"
        explode: true
        in: query
        name: Path
        required: false
        schema:
          maxLength: 512
          minLength: 1
          pattern: "(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)"
          type: string
        style: form
      - description: "<p>A list of tags that you want to attach to the newly created\
          \ IAM instance profile. Each tag consists of a key name and an associated\
          \ value. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\"\
          >Tagging IAM resources</a> in the <i>IAM User Guide</i>.</p> <note> <p>If\
          \ any one of the tags is invalid or if you exceed the allowed maximum number\
          \ of tags, then the entire request fails and the resource is not created.</p>\
          \ </note>"
        explode: true
        in: query
        name: Tags
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Tag'
          maxItems: 50
          type: array
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - CreateInstanceProfile
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateInstanceProfileResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
          description: EntityAlreadyExistsException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModificationException'
          description: ConcurrentModificationException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: CreateInstanceProfile
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "<p> Creates a new instance profile. For information about instance\
        \ profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2.html\"\
        >Using roles for applications on Amazon EC2</a> in the <i>IAM User Guide</i>,\
        \ and <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html#ec2-instance-profile\"\
        >Instance profiles</a> in the <i>Amazon EC2 User Guide</i>.</p> <p> For information\
        \ about the number of instance profiles you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\"\
        >IAM object quotas</a> in the <i>IAM User Guide</i>.</p>"
      operationId: post_create_instance_profile
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - CreateInstanceProfile
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2010-05-08
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateInstanceProfileRequest'
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateInstanceProfileResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
          description: EntityAlreadyExistsException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
          description: InvalidInputException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
          description: LimitExceededException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModificationException'
          description: ConcurrentModificationException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
          description: ServiceFailureException
      x-aws-operation-name: CreateInstanceProfile
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /#Action=CreateLoginProfile:
    get:
      description: "<p>Creates a password for the specified IAM user. A password allows\
        \ an IAM user to access Amazon Web Services services through the Amazon Web\
        \ Services Management Console.</p> <p>You can use the CLI, the Amazon Web\
        \ Services API, or the <b>Users</b> page in the IAM console to create a password\
        \ for any IAM user. Use <a>ChangePassword</a> to update your own existing\
        \ password in the <b>My Security Credentials</b> page in the Amazon Web Services\
        \ Management Console.</p> <p>For more information about managing passwords,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\"\
        >Managing passwords</a> in the <i>IAM User Guide</i>.</p>"
      operationId: get_create_login_profile
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: "<p>The name of the IAM user to create a password for. The user\
          \ must already exist.</p> <p>This parameter allows (through its <a href=\"\
          http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters\
          \ consisting of upper and lowercase alphanumeric characters with no spaces.\
          \ You can also include any of the following characters: _+=,.@-</p>"
        explode: true
        in: query
        name: UserName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "[\\w+=,.@-]+"
          type: string
        style: form
      - description: "<p>The new password for the user.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\"\
          >regex pattern</a> that is used to validate this parameter is a string of\
          \ characters. That string can include almost any printable ASCII character\
          \ from the space (<code>\\u0020</code>) through the end of the ASCII character\
          \ range (<code>\\u00FF</code>). You can also include the tab (<code>\\u0009</code>),\
          \ line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)\
          \ characters. Any of these characters are valid in a password. However,\
          \ many tools, such as the Amazon Web Services Management Console, might\
          \ restrict the ability to type certain characters because they have special\
          \ meaning within that tool.</p>"
        explode: true
        in: query
        name: Password
        required: true
        schema:
          format: password
          maxLength: 128
          minLength: 1
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
          type: string
        style: form
      - description: Specifies whether the user is required to set a new password
          on next sign-in.
        explode: true
        in: query
        name: PasswordResetRequired
        required: false
        schema:
          type: boolean
[...]
